@{
    ViewData["Title"] = "Login/Register";
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col">
                <h2 class="mb-3 mt-2">Welcome to the Dojo Activity Center</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <partial name="_RegPartial"/>
            </div>
            <div class="col">
                <partial name="_LogPartial"/>
            </div>
        </div>
    </main>
</div>
